@keyframes slide {
    0% {
        width: 100%;
    } 50% {
        width: 280px;
    } 100% {
        width: 100%;
    }
}

.body {
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

p {
    color: white;
}

iframe {
    border: none;
    margin-bottom: 25px;
}